{% load staticfiles %}

{% block content %}

<div class="row">
		  <div class="col-sm-2">
			<div class="well bs-sidebar no-float" id="sidebar" style="background-color:#000000">				
			  	<ul class="nav nav-pills nav-stacked">
			  		<li><a href='#'><img src="{% static 'align/img/Hamster_white.png' %}" alt="Return to main page" height="125px" width="125px"/></a></li>
					<li><a href='#'>Tutorial</a></li>
					<li><a href='#'>Programmes</a></li>
					<li><a href='#'>About</a></li>
			  	</ul>
			</div>
		  </div>

{% endblock %}