{% extends "align/header.html" %}
{% load staticfiles %}

{% block content %}
<div id="alignment_page>">
	<link rel="stylesheet" href="{% static 'align/css/align_page.css' %}" type = "text/css"/>

<h2>Mitochondrial Genome Aligner</h2>
<br>
<br>
<p>Welcome to [toolname].</p>

	<!--<div id="chose_read_type">
		<form style="text-align: center;">
  				<input type="radio" name="rtype_choice" value="Single" checked> Single<br>
  				<input type="radio" name="rtype_choice" value="Double"> Double<br>
  				<input type="radio" name="rtype_choice" value="Mate"> Mate
		</form>
	</div>-->

<!--<input type="text">, <select>-->

<!--<p>
{{ single.uploadedfile.url }}	
</p>-->


</div>
{% endblock %}